.grid-item-w200 { width: 200px; }
.grid-item-w400 { width: 400px; }
.grid:after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 500px){
    figure {
        margin: 0;
    }

    image {
        max-width: 100vw;
        max-height: 100vh;
        margin: auto;
    }
}

